@import '../../assets/styles/variables';

.formGroup {
    margin: 10px 0;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        padding: 15px 10px;
        border-radius: 8px;
        border: 1px solid $accent;
        outline: none;
        transition: $transition;
        display: block;
        width: 100%;

        &:focus {
            border-color: $primary;
        }
    }
}

.danger {
    border-color: $danger !important;
}