@import '../../assets/styles/variables';

.container {
    display: flex;
    max-width: 1400px;
    margin: auto;
}

.navWrapper {
    flex: 0 0 334px;
    padding-left: 75px;
}

.mainWrapper {
    flex: 0 0 600px;
}

.asideWrapper {
    flex: 1;
}
