@import '../../assets/styles/variables';

.commentCard {
    margin: 10px 0;
    display: block;
    text-decoration: none;
    color: $dark;
}

.cardBody {
    padding: 20px;
}

.cardHeader {
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid $dark;
}

.cardActions {
    padding: 0 20px 10px 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 60px);
}
